<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bzh.gl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TableOfContents">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".lesson1.LessonOneActivity"/>
        <activity android:name=".lesson2.LessonTwoActivity"/>
        <activity android:name=".lesson3.LessonThreeActivity"/>
        <activity android:name=".lesson4.LessonFourActivity"/>
        <activity android:name=".lesson5.LessonFiveActivity"/>
        <activity android:name=".lesson6.LessonSixActivity"/>
        <activity android:name=".lesson7.LessonSevenActivity"/>
        <activity android:name=".lesson8.LessonEightActivity"/>
        <activity android:name=".native_lesson1.NativeLesson1Activity"/>
    </application>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

</manifest>